{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Lista de Compras</h1>
    
    <table class="tabela-compras">
        <thead>
            <tr>
                <th>Item</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for item in lista_de_compras %}
                <tr>
                    <td>{{ item['descricao'] }}</td>
                    <td>
                        <form method="post" action="{{ url_for('remover', id_item=item['id']) }}" style="display: inline;">
                            <button type="submit">Remover</button>
                        </form>
                        <button onclick="location.href='{{ url_for('editar', id_item=item['id']) }}'">Editar</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form method="post" action="{{ url_for('adicionar') }}">
        <input type="text" name="item" required placeholder="Adicione um novo item...">
        <button type="submit">Adicionar</button>
    </form>
</div>
{% endblock %}
